openapi: 3.0.3
info:
  description: |
    # Introduction

    GPRO App API is a development meant to serve GPRO Applications Frontend.
    This document curates a selection of endpoints from the GPRO App API to show GPRO managers how to call
    these selected endpoints to optimize their data collection, providing response schemas and extensive examples.
  title: GPRO App Public API
  version: 2.0.0
  x-logo:
    url: https://gpro.net/images/api_gpro_logo.jpg
    altText: GPRO logo
servers:
- url: https://gpro.net
tags:
- description: "Useful information for the ongoing, past or next season"
  name: Season
- description: Everything you need to know about GPRO tracks
  name: Tracks
- description: Find and analyze staff for your team
  name: Staff
- description: Important information related to the group's participants.
  name: Group
- description: Log your preparation for the next race
  name: Race Preparation
- description: Statistics related to last or the ongoing race
  name: Race Statistics
- description: Log of the selected resource or decisions
  name: Manager Resources
- description: Historical Statistics.
  name: History
paths:
  /{lang}/backend/api/v2/Menu:
    get:
      description: Retrieving all GPRO app menu elements.
      operationId: Menu
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuResponse"
          description: Menu Response
          x-summary: Menu Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuError"
          description: Menu Error
          x-summary: Menu Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/office:
    get:
      description: Retrieving all GPRO app office elements.
      operationId: Office
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfficeResponse"
          description: Office Response
          x-summary: Office Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Office Error
          x-summary: Office Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/UpdateCar:
    get:
      description: Retrieving data present in Update Car.
      operationId: GetCar
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CarResponse"
          description: Get Car Response
          x-summary: Get Car Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Get Car Error
          x-summary: Get Car Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/CCPHistory:
    get:
      description: |
        Obtain the CCPs History
        - If no parameters are used, it defaults to current season.
        - If `season` parameter provided is invalid, it returns an empty data array.
        - If the user is not a supporter, it returns an error message within the 200 response.
      operationId: GetCCPsHistory
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Season
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: "97"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCCPsHistory_200_response"
          description: CCPs History Response
          x-summary: CCPs History Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: CCPs History Error
          x-summary: CCPs History Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/Practice:
    get:
      description: Retrieve Practice + Q1 data.
      operationId: GetPracticeQ1
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PracticeResponse"
          description: Practice Laps + Q1 Response
          x-summary: Practice Laps + Q1 Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: PracticeQ1 Error
          x-summary: PracticeQ1 Error
      security:
      - Bearer: []
      tags:
      - Race Preparation
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/Qualify2:
    get:
      description: Retrieve Qualy2 data.
      operationId: GetQ2Lap
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Qualy2Response"
          description: Qualy2 Lap Response
          x-summary: Qualy2 Lap Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Qualy2 Error
          x-summary: Qualy2 Error
      security:
      - Bearer: []
      tags:
      - Race Preparation
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/Testing:
    get:
      description: Retrieve Testing Stints data.
      operationId: GetTesting
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestingResponse"
          description: Testing Stints Response
          x-summary: Testing Stints Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Testing Error
          x-summary: Testing Error
      security:
      - Bearer: []
      tags:
      - Race Preparation
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/Tracks:
    get:
      description: |
        Retrieve Tracks Preview Data.
        - If mode parameter is not used in the request, it returns All Tracks.
      operationId: GetAllTracksPreview
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Display mode for tracks endpoint
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - calendar
          - nextcalendar
          example: calendar
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TracksResponse"
          description: All tracks response
          x-summary: All tracks response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: All tracks Error
          x-summary: All tracks Error
      security:
      - Bearer: []
      tags:
      - Tracks
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/TrackProfile:
    get:
      description: "Retrieve Track Profile Data.\n- When called with no query parameters,\
        \ it'll return the profile for the next race's track. \n  - If it's the `End\
        \ of the Season`, it'll return a 401 response.\n- If called with track id,\
        \ it'll return the corresponding profile.\n  - If the track id is invalid,\
        \ it'll default to next race's track profile. \n    - If it's the `End of\
        \ the Season`, it'll return a 401 response.\n- If called without a valid token,\
        \ it'll return a 401 response.\n"
      operationId: GetTrackProfile
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackProfileResponse"
          description: Track Profile Data Response
          x-summary: Track Profile Data Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTrackProfile_401_response"
          description: Track Profile Error
          x-summary: Track Profile Error
      security:
      - Bearer: []
      tags:
      - Tracks
      x-accepts:
      - application/json
  /GetMarketFile.asp:
    get:
      description: |
        Legacy GPRO web market files download, updated hourly. Does not require Token authentication.
      operationId: GetMarketFile
      parameters:
      - description: Type of Staff Market
        explode: true
        in: query
        name: market
        required: true
        schema:
          enum:
          - drivers
          - tds
          example: drivers
          type: string
        style: form
      - description: Type of file to download
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - xml
          - xls
          - csv
          - json
          example: csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/gzip:
              schema:
                format: binary
                type: string
          description: Market File Response
          x-summary: Market File Response
      security: []
      tags:
      - Staff
      x-accepts:
      - application/gzip
  /{lang}/backend/api/v2/AvailDrivers:
    get:
      description: "Query Available Drivers.\n- `To get the full market, please refer\
        \ to the` [GetMarketFile](#operation/GetMarketFile) `endpoint`. \n<br>\n-\
        \ A request with no query parameters will return a 1 page, 20 drivers long\
        \ response, descending order, with an OA range which upper limit is the maximum\
        \ OA of the Token's account league.<br>\n    - 3 Sorting fields can be used,\
        \ plus filters, as optional parameters, for `GPRO Supporters` only.\n"
      operationId: GetAvailDrivers
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Page
        explode: true
        in: query
        name: Page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Minimum OA
        explode: true
        in: query
        name: MinOA
        required: false
        schema:
          example: 70
          type: integer
        style: form
      - description: Maximum OA
        explode: true
        in: query
        name: MaxOA
        required: false
        schema:
          example: 201
          type: integer
        style: form
      - description: Sort by
        explode: true
        in: query
        name: Sort
        required: false
        schema:
          $ref: "#/components/schemas/SortDriver"
        style: form
      - description: Sort by
        explode: true
        in: query
        name: Sort2
        required: false
        schema:
          $ref: "#/components/schemas/SortDriver"
        style: form
      - description: Sort by
        explode: true
        in: query
        name: Sort3
        required: false
        schema:
          $ref: "#/components/schemas/SortDriver"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: agr
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: cha
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: con
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: mot
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: rep
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: sta
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: tal
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: tei
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br> `'5': 250-300`<br> `'6': 350+`<br>
        explode: true
        in: query
        name: exp
        required: false
        schema:
          $ref: "#/components/schemas/ExpRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 17-20`<br> `'1': 21-24`<br> `'2': 25-28`<br> `'3': 29-32`<br> `'4': 33-36`<br> `'5': 37+`<br>
        explode: true
        in: query
        name: age
        required: false
        schema:
          $ref: "#/components/schemas/AgeDriRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': '1-0.5M'`<br> `'1': '0.5M-1M'`<br> `'2': '1M-1.5M'`<br> `'3': '1.5M-2M'`<br> `'4': '2M-2.5M'`<br> `'5': '2.5M-3M'`<br> `'6': '3M-3.5M'`<br> `'7': '3.5M-4M'`<br> `'8': '4M-4.5M'`<br> `'9': '4.5M-5M'`<br> `'10': '5M-5.5M'`<br> `'11': '5.5M-6M'`<br> `'12': '6M+'`<br>
        explode: true
        in: query
        name: minsal
        required: false
        schema:
          $ref: "#/components/schemas/MinSalRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': '0'`<br> `'1': '1'`<br> `'2': '2'`<br> `'3': '3'`<br> `'4': '4+'`<br>
        explode: true
        in: query
        name: offers
        required: false
        schema:
          $ref: "#/components/schemas/OffRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 40-59`<br> `'1': 60-79`<br> `'2': 80-99`<br> `'3': 100-119`<br> `'4': 120-139`<br> `'5': 140+`<br>
        explode: true
        in: query
        name: wei
        required: false
        schema:
          $ref: "#/components/schemas/WeiRange"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailDriversResponse"
          description: Available Drivers Response
          x-summary: Available Drivers Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Available Drivers Error
          x-summary: Available Drivers Error
      security:
      - Bearer: []
      tags:
      - Staff
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/DriProfile:
    get:
      description: "Retrieve Driver Profile data.\n- When called with no query parameters,\
        \ it'll return the profile of the Token's account driver (if there's a driver\
        \ under contract). \n  - If no driver under contract, property `driName`'s\
        \ value will be `Unknown driver` and `driverNotFoundNote` will be `true`.\n\
        \  - Different schemas are provided for these cases.\n- If called with driver\
        \ id, it'll return the corresponding profile.\n  - If the driver id is invalid,\
        \ it'll default to token's driver or `Unknown driver`, depending on the case\
        \ explained above. \n- If called without a valid token, it'll return a 401\
        \ response.\n"
      operationId: GetDriverProfile
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: id
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDriverProfile_200_response"
          description: Driver Profile Data Response
          x-summary: Driver Profile Data Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Driver Profile Error
          x-summary: Driver Profile Error
      security:
      - Bearer: []
      tags:
      - Staff
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/AvailTDs:
    get:
      description: "Querying Available Technical Directosr.\n- `To get the full market,\
        \ please refer to the` [GetMarketFile](#operation/GetMarketFile) `endpoint`.\
        \ \n<br>\n- A request with no query parameters will return a 1 page, 20 TDs\
        \ long response, descending order, with an OA range which upper limit is the\
        \ maximum OA of the Token's account league, or the upper limit of Pro.<br>\n\
        \    - 3 Sorting fields can be used, plus filters, as optional parameters,\
        \ for `GPRO Supporters` only.\n"
      operationId: GetAvailTDs
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Page
        explode: true
        in: query
        name: Page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Minimum OA
        explode: true
        in: query
        name: MinOA
        required: false
        schema:
          example: 70
          type: integer
        style: form
      - description: Maximum OA
        explode: true
        in: query
        name: MaxOA
        required: false
        schema:
          example: 201
          type: integer
        style: form
      - description: Sort by
        explode: true
        in: query
        name: Sort
        required: false
        schema:
          $ref: "#/components/schemas/SortTD"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: aer
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: ele
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: lea
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: mec
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: mot
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
        explode: true
        in: query
        name: pit
        required: false
        schema:
          $ref: "#/components/schemas/SkillRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br> `'5': 250-300`<br> `'6': 350+`<br>
        explode: true
        in: query
        name: exp
        required: false
        schema:
          $ref: "#/components/schemas/ExpRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': 35-`<br> `'1': 36-49`<br> `'2': 50-64`<br> `'3': 65-74`<br> `'4': 75-79`<br> `'5': 80+`<br>
        explode: true
        in: query
        name: age
        required: false
        schema:
          $ref: "#/components/schemas/AgeTDRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': '1-0.5M'`<br> `'1': '0.5M-1M'`<br> `'2': '1M-1.5M'`<br> `'3': '1.5M-2M'`<br> `'4': '2M-2.5M'`<br> `'5': '2.5M-3M'`<br> `'6': '3M-3.5M'`<br> `'7': '3.5M-4M'`<br> `'8': '4M-4.5M'`<br> `'9': '4.5M-5M'`<br> `'10': '5M-5.5M'`<br> `'11': '5.5M-6M'`<br> `'12': '6M+'`<br>
        explode: true
        in: query
        name: minsal
        required: false
        schema:
          $ref: "#/components/schemas/MinSalRange"
        style: form
      - description: |
          <u>Key</u><br> `'': Any`<br> `'0': '0'`<br> `'1': '1'`<br> `'2': '2'`<br> `'3': '3'`<br> `'4': '4+'`<br>
        explode: true
        in: query
        name: offers
        required: false
        schema:
          $ref: "#/components/schemas/OffRange"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailTDsResponse"
          description: Available TDs Response
          x-summary: Available TDs Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Available TDs Error
          x-summary: Available TDs Error
      security:
      - Bearer: []
      tags:
      - Staff
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/TDProfile:
    get:
      description: "Retrieving TD profile data.\n- When called with no query parameters,\
        \ it'll return the profile of the Token's account TD (if there's a TD under\
        \ contract). \n  - If not TD under contract, property `tdName`'s value will\
        \ be `Unknown technical director`.\n- If called with TD id, it'll return the\
        \ corresponding profile.\n  - If the TD id is invalid, it'll default to token's\
        \ TD or `Unknown technical director`, depending on the case. \n- If called\
        \ without a valid token, it'll return a 401 response.\n"
      operationId: GetTDProfile
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: id
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TDProfileResponse"
          description: TD Profile Data Response
          x-summary: TD Profile Data Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: TD Profile Error
          x-summary: TD Profile Error
      security:
      - Bearer: []
      tags:
      - Staff
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/LastTransfers:
    get:
      description: |
        Retrieving Last Staff Market Transfers data.
        - When called with no query parameters, it'll return the transfers of the Token's account group.
        - If the Token's account is retired, it'll return Elite's last transfers.
        - When called with group parameter, it returns transfers for the specified group.
      operationId: GetLastTransfers
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group/League
        explode: true
        in: query
        name: group
        required: false
        schema:
          $ref: "#/components/schemas/StaffGroups"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LastTransfersResponse"
          description: Last Staff Transfers Response
          x-summary: Last Staff Transfers Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Last Staff Transfers Error
          x-summary: Last Staff Transfers Error
      security:
      - Bearer: []
      tags:
      - Staff
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/Calendar:
    get:
      description: |
        Retrieving Current and Next Season Calendar.
        - If the endpoint is called without query parameters, it'll return the calendar for the group of the Token's account.
        - If the account is inactive, it'll return Elite's calendar.
        - If called with the query parameters, it'll return the chosen's group calendar.
      operationId: GetCalendar
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group/League
        explode: true
        in: query
        name: Group
        required: false
        schema:
          $ref: "#/components/schemas/Groups"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarResponse"
          description: Calendar Response
          x-summary: Calendar Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Calendar Error
          x-summary: Calendar Error
      security:
      - Bearer: []
      tags:
      - Season
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/NegOverview:
    get:
      description: Retrieving Currently Signed Sponsors and Ongoing Negotiations
      operationId: GetSponsorNegotiations
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NegOverviewResponse"
          description: Negotiations Overview Response
          x-summary: Negotiations Overview Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Negotiations Overview Error
          x-summary: Negotiations Overview Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/AvailSponsors:
    get:
      description: |
        Retrieve Group'd Available Sponsors for negotiation.
        - If called with no query parameters, it returns Available Sponsors for Tokens's group, or Elite if account is not active.<br>
        - When called with the group parameter, it returs sponsors for the specified group.
          - If called with bad parameter value, defaults for no query parameters are applied.
      operationId: GetAvailSponsors
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group/League
        explode: true
        in: query
        name: Group
        required: false
        schema:
          $ref: "#/components/schemas/Groups"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailableSponsorsResponse"
          description: Available Sponsors Response
          x-summary: Available Sponsors Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Available Sponsors Error
          x-summary: Available Sponsors Error
      security:
      - Bearer: []
      tags:
      - Group
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/NegotiateSponsor:
    get:
      description: Retrieve Sponsor's profile data.
      operationId: GetSponsorProfile
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: id
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSponsorProfile_200_response"
          description: |
            Sponsor Profile Response
            - `NegoSignSponsorProfileResponse` has more properties, expected when the ID is from a currently signed or in negotiations sponsor.
            - `SponsorProfileResponse` has a few less properties, and is the expected response for the rest of the sponsors.
          x-summary: Sponsor Profile Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSponsorProfile_401_response"
          description: |
            Sponsor Profile Error
            - `LoggedOut` is returned when the Token is invalid.
            - `SponsorProfileError` is returned when the request is made with an invalid `id` query parameter.
          x-summary: Sponsors Profile Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/ManSponsors:
    get:
      description: |
        Retrieve Group's Managers Currently Signed Sponsors.
        - If called with no query parameters, it returns Manager's Sponsors for Tokens's group, or Elite if account is not active.<br>
        - When called with the group parameter, it returs Manager's Sponsors for the Manager's in the specified group.
          - If called with bad parameter value, defaults for no query parameters are applied.
      operationId: GetManSponsors
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group/League
        explode: true
        in: query
        name: Group
        required: false
        schema:
          $ref: "#/components/schemas/Groups"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagerSponsorsResponse"
          description: Manager's Sponsors Response
          x-summary: Manager's Sponsors Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Manager's Sponsors Error
          x-summary: Manager's Sponsors Error
      security:
      - Bearer: []
      tags:
      - Group
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/RaceSetup:
    get:
      description: Retrieve Race Setup Options
      operationId: GetRaceSetup
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaceSetupResponse"
          description: Race Setup Response
          x-summary: Race Setup Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Race Setup Error
          x-summary: Race Setup Error
      security:
      - Bearer: []
      tags:
      - Race Preparation
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/StaffAndFacilities:
    get:
      description: Staff & Facilities
      operationId: GetStaffFacilities
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnFResponse"
          description: Staff & Facilities Response
          x-summary: Staff & Facilities Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Staff & Facilities Error
          x-summary: Staff & Facilities Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/SFHistory:
    get:
      description: |
        Obtain the Staff & Facilities History
        - If no parameters are used, it defaults to current season.
        - If `season` parameter provided is invalid, it returns an empty data array.
        - If the user is not a supporter, it returns an error message within the 200 response.
      operationId: GetStaffFacilitiesHist
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Season
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: "97"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStaffFacilitiesHist_200_response"
          description: Staff & Facilities History Response
          x-summary: Staff & Facilities History Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Staff & Facilities History Error
          x-summary: Staff & Facilities History Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/RaceAnalysis:
    get:
      description: |
        Retrieve Race Analysis data.
        - If called without the query parameter, it'll return most recent available race analysis.
          - `Beware that managers with several seasons experience and many races as supporters MAY sometimes take considerable time to get a response back using this option, so it's recommeneded the query parameter is used`
        - Otherwise, it returns the race analysis corresponding to the query parameter.
      operationId: GetRaceAnalysis
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: "Season,Race"
        explode: true
        in: query
        name: SR
        required: false
        schema:
          example: "87,11"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRaceAnalysis_200_response"
          description: |
            Race Analysis Response
            - `RaceAnalysisResponse` is returned when the specified or default races are available.
            - `RaceAnalysisNAResponse` is the provided response when the requested race, or default race, is not Available. E.G.: manager is not a supporter now,
            was not a supporter that race, or did not start the race.
          x-summary: Race Analysis Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Race Analysis Error
          x-summary: Race Analysis Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/EconomyHistory:
    get:
      description: |
        Retrieve Economy History
        - If called with no query parameters, it defaults to the first page of the table format.
        - Otherwise, it returns the corresponding response to the `show` parameter value used in the request.
      operationId: GetEconomyHistory
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Page
        explode: true
        in: query
        name: Page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          Specifies the type of table/graph. Defaults to `table` if not specified. <br>
          <u>Key:</u>
          - `table`: headers and rows for table display mode.
          - `graph`: balance graph.
          - `sgraph`: expeditures graph.
          - `egraph`: earnings graph.
        explode: true
        in: query
        name: show
        required: false
        schema:
          enum:
          - table
          - graph
          - sgraph
          - egraph
          example: graph
          type: string
        style: form
      - description: |
          Applies when used with `graph` show option. Defaults to `allincome` if not specified. <br>
          <u>Key</u>
          - `allincome`: includes all income/expenditure concepts.
          - `raceonly`: shows only post race balances.
        explode: true
        in: query
        name: display
        required: false
        schema:
          enum:
          - allincome
          - raceonly
          example: raceonly
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEconomyHistory_200_response"
          description: "Economy History Response\n- `HistoryResponse` is the response\
            \ that returns when called with value `table` for the `show` param. \n\
            - `HistoryGraphResponse` is the response that returns when called with\
            \ value `graph` for the `show` param. \n- `HistoryESGraphResponse` is\
            \ the response that returns when called with values `egraph` or `sgraph`\
            \ for the `show` param.\n"
          x-summary: Economy History Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Economy History Error
          x-summary: Economy History Error
      security:
      - Bearer: []
      tags:
      - Manager Resources
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/QStandings:
    get:
      description: |
        Retrieve Qualy Standings and Starting Grid
        - If no `group` parameter is used in the request, it returns Token's group.
          - If token's account is not activated, it defaults to Elite
        - If no `part` paramater is provided, it defaults to `SG`
        - Responses are 50 managers long. If used with multiple group options, it needs to be called page by page.
      operationId: GetQualyStandings
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: |
          <u>Key:</u><br>
          - `all:` All Groups.
          - `m:` All Master Groups.
          - `p:` All Pro Groups.
          - `a:` All Amateur Groups.
          - `r:` All Rookie Groups.
        explode: true
        in: query
        name: group
        required: false
        schema:
          $ref: "#/components/schemas/ExtendedGroups"
        style: form
      - description: |
          <u>Key</u><br>
          - `q1:` Qualy 1.
          - `q2:` Qualy 2.
          - `SG:` Starting Grid.
        explode: true
        in: query
        name: part
        required: false
        schema:
          enum:
          - q1
          - q2
          - SG
          example: q1
          type: string
        style: form
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "1"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetQualyStandings_200_response"
          description: Qualy Standings Response
          x-summary: Qualy Standings Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Qualy Standings Error
          x-summary: Qualy Standings Error
      security:
      - Bearer: []
      tags:
      - Race Statistics
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/QualifyStats:
    get:
      description: Get Qualy statistics.
      operationId: GetQualyStats
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QualyStatsResponse"
          description: Qualy Statistics Response
          x-summary: Qualy Statistics Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Qualy Statistics Error
          x-summary: Qualy Statistics Error
      security:
      - Bearer: []
      tags:
      - Race Statistics
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/QualifyResults:
    get:
      description: |
        Retrieve Qualy Results
        - If called with no query parameters, it defaults to the last race for the token's group, regardless of if the manager started the race.
        - If `season` parameter provided is invalid, it returns empty data arrays for Q1, Q2 and Starting Grid.
      operationId: GetQualyResults
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group
        explode: true
        in: query
        name: group
        required: false
        schema:
          $ref: "#/components/schemas/OldGroups"
        style: form
      - description: Season Number
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 98
          type: integer
        style: form
      - description: Race Number
        explode: true
        in: query
        name: race
        required: false
        schema:
          example: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QualyResultsResponse"
          description: |
            Qualify Results Response
          x-summary: Qualify Results Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Qualify Results Error
          x-summary: Qualify Results Error
      security:
      - Bearer: []
      tags:
      - Race Statistics
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/TestingStandings:
    get:
      description: |
        Retrieve Testing Standings
        - If no `group` parameter is used in the request, it returns Token's group.
          - If token's account is not activated, it defaults to Elite
        - Responses are 50 managers long. If used with multiple group options, it needs to be called page by page.
      operationId: GetTestingStandings
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: |
          <u>Key:</u><br>
          - `all:` All Groups.
          - `m:` All Master Groups.
          - `p:` All Pro Groups.
          - `a:` All Amateur Groups.
          - `r:` All Rookie Groups.
        explode: true
        in: query
        name: group
        required: false
        schema:
          $ref: "#/components/schemas/ExtendedGroups"
        style: form
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "1"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestingStandingsResponse"
          description: Testing Standings Response
          x-summary: Testing Standings Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Testing Standings Error
          x-summary: Testing Standings Error
      security:
      - Bearer: []
      tags:
      - Race Statistics
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/Standings:
    get:
      description: |
        Retrieve Season Standings
        - If the endpoint is called without query parameters, it'll return the standings for the group of the Token's account.
          - If the account is inactive, it'll return Elite's standings
        - If called with the query parameters, it'll return the chosen's group standings.
      operationId: GetSeasonStandings
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group/League
        explode: true
        in: query
        name: Group
        required: false
        schema:
          $ref: "#/components/schemas/Groups"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandingsResponse"
          description: Season Standings Response
          x-summary: Season Standings Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Season Standings Error
          x-summary: Season Standings Error
      security:
      - Bearer: []
      tags:
      - Group
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/MoneyLevels:
    get:
      description: |
        Retrieve Money and Car Levels of the Group
        - If the endpoint is called without query parameters, it'll return the money and car levels for the group of the Token's account.
          - If the account is inactive, it'll return Elite's money and car levels
        - If called with the query parameters, it'll return the chosen's group money and car levels.
      operationId: GetMoneyLevels
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group/League
        explode: true
        in: query
        name: Group
        required: false
        schema:
          $ref: "#/components/schemas/Groups"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoneyLevelsResponse"
          description: Money Car Levels Response
          x-summary: Money Car Levels Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Money Car Levels Error
          x-summary: Money Car Levels Error
      security:
      - Bearer: []
      tags:
      - Group
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/ViewStaff:
    get:
      description: |
        Retrieve Group's Manager's Staff information
        - If the endpoint is called without query parameters, it'll return the money and car levels for the group of the Token's account.
          - If the account is inactive, it'll return Elite's money and car levels
        - If called with the query parameters, it'll return the chosen's group money and car levels.
      operationId: GetGroupStaff
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group/League
        explode: true
        in: query
        name: Group
        required: false
        schema:
          $ref: "#/components/schemas/Groups"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViewStaffResponse"
          description: View Staff Response
          x-summary: View Staff Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: View Staff Error
          x-summary: View Staff Error
      security:
      - Bearer: []
      tags:
      - Group
      - Staff
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/TyreSuppliers:
    get:
      description: |
        Retrieve Tyres Suppliers.
        - If called with no query parameters, it returns tyre suppliers for the ongoing season.
        - Otherwise returns tyre suppliers for the specified season.
      operationId: GetTyreSuppliers
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Season
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: "97"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TyreSuppliersResponse"
          description: Tyre Suppliers Response
          x-summary: Tyre Suppliers Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Tyre Suppliers Error
          x-summary: Tyre Suppliers Error
      security:
      - Bearer: []
      tags:
      - Season
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/RaceReplay:
    get:
      description: |
        Race Replay data.
        - If called with no parameters, it returns last race for the group of the token's manager.
          - If manager is inactive, it returns Elite's last race.
      operationId: GetRaceReplay
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group
        explode: true
        in: query
        name: group
        required: false
        schema:
          $ref: "#/components/schemas/OldGroups"
        style: form
      - description: Season Number
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 98
          type: integer
        style: form
      - description: Race Number
        explode: true
        in: query
        name: race
        required: false
        schema:
          example: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaceReplayResponse"
          description: Race Replay Response
          x-summary: Race Replay Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Race Replay Error
          x-summary: Race Replay Error
      security:
      - Bearer: []
      tags:
      - Race Statistics
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/RaceSummary:
    get:
      description: |
        Obtain the Race summary
        - If no parameters are used, it defaults to Token's group and last race.
        - If `group` parameter provided is invalid, it defaults to Elite.
        - For a particular race, both `season` and `race` paramaters need to be specified.
      operationId: GetRaceSummary
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group
        explode: true
        in: query
        name: group
        required: false
        schema:
          $ref: "#/components/schemas/OldGroups"
        style: form
      - description: Season Number
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 98
          type: integer
        style: form
      - description: Race Number
        explode: true
        in: query
        name: race
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: 2 characters code of the manager's nation
        explode: true
        in: query
        name: nat
        required: false
        schema:
          $ref: "#/components/schemas/Nationalities"
        style: form
      - description: Team ID
        explode: true
        in: query
        name: team
        required: false
        schema:
          example: 291
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaceSummaryResponse"
          description: Race Summary Response
          x-summary: Race Summary Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: Race Summary Error
          x-summary: Race Summary Error
      security:
      - Bearer: []
      tags:
      - Race Statistics
      x-accepts:
      - application/json
  /{lang}/backend/api/v2/History:
    get:
      description: |
        Obtain Historical Statistics
        - If called with no parameters, it defaults to last finished season for `season`, Standings for `table`, and Elite for `group`.
      operationId: GetHistory
      parameters:
      - description: Code for the language
        explode: false
        in: path
        name: lang
        required: true
        schema:
          $ref: "#/components/schemas/LangOptions"
        style: simple
      - description: Group
        explode: true
        in: query
        name: group
        required: false
        schema:
          $ref: "#/components/schemas/OldGroups"
        style: form
      - description: History Section
        explode: true
        in: query
        name: table
        required: false
        schema:
          $ref: "#/components/schemas/Table"
        style: form
      - description: Season Number
        explode: true
        in: query
        name: season
        required: false
        schema:
          example: 98
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetHistory_200_response"
          description: |
            History Response
            - `History500OBRResponse` is the response that returns when called with value `Stats` for the `table` param.
            - `HistoryCalendarResponse` is the response that returns when called with value `Calendar` for the `table` param.
            - `HistoryGroupCupResponse` is the response that returns when called with value `CupStandings` for the `table` param.
            - `HistoryGroupStandingsResponse` is the response that returns when called with value `Standings` for the `table` param.
            - `HistoryManResultsResponse` is the response that returns when called with value `ManResults` for the `table` param.
            - `HistoryNationsCupResponse` is the response that returns when called with value `NationsKnockoutCup` for the `table` param.
            - `HistoryTeamsCupResponse` is the response that returns when called with value `TeamCupStandings` for the `table` param.
            - `HistoryTeamStandingsResponse` is the response that returns when called with value `TeamsStandings` for the `table` param.
          x-summary: History Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoggedOut"
          description: History Error
          x-summary: History Error
      security:
      - Bearer: []
      tags:
      - History
      x-accepts:
      - application/json
components:
  parameters:
    Lang:
      description: Code for the language
      explode: false
      in: path
      name: lang
      required: true
      schema:
        $ref: "#/components/schemas/LangOptions"
      style: simple
    Group:
      description: Group/League
      explode: true
      in: query
      name: Group
      required: false
      schema:
        $ref: "#/components/schemas/Groups"
      style: form
    StaffGroup:
      description: Group/League
      explode: true
      in: query
      name: group
      required: false
      schema:
        $ref: "#/components/schemas/StaffGroups"
      style: form
    Season:
      description: Season
      explode: true
      in: query
      name: season
      required: false
      schema:
        example: "97"
        type: string
      style: form
    Id:
      description: id
      explode: true
      in: query
      name: id
      required: true
      schema:
        type: integer
      style: form
    Market:
      description: Type of Staff Market
      explode: true
      in: query
      name: market
      required: true
      schema:
        enum:
        - drivers
        - tds
        example: drivers
        type: string
      style: form
    Type:
      description: Type of file to download
      explode: true
      in: query
      name: type
      required: true
      schema:
        enum:
        - xml
        - xls
        - csv
        - json
        example: csv
        type: string
      style: form
    Page:
      description: Page
      explode: true
      in: query
      name: Page
      required: false
      schema:
        example: 1
        type: integer
      style: form
    MinOA:
      description: Minimum OA
      explode: true
      in: query
      name: MinOA
      required: false
      schema:
        example: 70
        type: integer
      style: form
    MaxOA:
      description: Maximum OA
      explode: true
      in: query
      name: MaxOA
      required: false
      schema:
        example: 201
        type: integer
      style: form
    SortDri1:
      description: Sort by
      explode: true
      in: query
      name: Sort
      required: false
      schema:
        $ref: "#/components/schemas/SortDriver"
      style: form
    SortDri2:
      description: Sort by
      explode: true
      in: query
      name: Sort2
      required: false
      schema:
        $ref: "#/components/schemas/SortDriver"
      style: form
    SortDri3:
      description: Sort by
      explode: true
      in: query
      name: Sort3
      required: false
      schema:
        $ref: "#/components/schemas/SortDriver"
      style: form
    SkillAgr:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: agr
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillCha:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: cha
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillCon:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: con
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillMot:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: mot
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillRep:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: rep
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillSta:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: sta
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillTal:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: tal
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillTei:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: tei
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    ExpRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br> `'5': 250-300`<br> `'6': 350+`<br>
      explode: true
      in: query
      name: exp
      required: false
      schema:
        $ref: "#/components/schemas/ExpRange"
      style: form
    AgeDriRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 17-20`<br> `'1': 21-24`<br> `'2': 25-28`<br> `'3': 29-32`<br> `'4': 33-36`<br> `'5': 37+`<br>
      explode: true
      in: query
      name: age
      required: false
      schema:
        $ref: "#/components/schemas/AgeDriRange"
      style: form
    MinSalRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': '1-0.5M'`<br> `'1': '0.5M-1M'`<br> `'2': '1M-1.5M'`<br> `'3': '1.5M-2M'`<br> `'4': '2M-2.5M'`<br> `'5': '2.5M-3M'`<br> `'6': '3M-3.5M'`<br> `'7': '3.5M-4M'`<br> `'8': '4M-4.5M'`<br> `'9': '4.5M-5M'`<br> `'10': '5M-5.5M'`<br> `'11': '5.5M-6M'`<br> `'12': '6M+'`<br>
      explode: true
      in: query
      name: minsal
      required: false
      schema:
        $ref: "#/components/schemas/MinSalRange"
      style: form
    OffRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': '0'`<br> `'1': '1'`<br> `'2': '2'`<br> `'3': '3'`<br> `'4': '4+'`<br>
      explode: true
      in: query
      name: offers
      required: false
      schema:
        $ref: "#/components/schemas/OffRange"
      style: form
    WeiRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 40-59`<br> `'1': 60-79`<br> `'2': 80-99`<br> `'3': 100-119`<br> `'4': 120-139`<br> `'5': 140+`<br>
      explode: true
      in: query
      name: wei
      required: false
      schema:
        $ref: "#/components/schemas/WeiRange"
      style: form
    DriverTDId:
      description: id
      explode: true
      in: query
      name: id
      required: false
      schema:
        type: integer
      style: form
    SortTD:
      description: Sort by
      explode: true
      in: query
      name: Sort
      required: false
      schema:
        $ref: "#/components/schemas/SortTD"
      style: form
    SkillAer:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: aer
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillEle:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: ele
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillLea:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: lea
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillMec:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: mec
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    SkillPit:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br>
      explode: true
      in: query
      name: pit
      required: false
      schema:
        $ref: "#/components/schemas/SkillRange"
      style: form
    AgeTDRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 35-`<br> `'1': 36-49`<br> `'2': 50-64`<br> `'3': 65-74`<br> `'4': 75-79`<br> `'5': 80+`<br>
      explode: true
      in: query
      name: age
      required: false
      schema:
        $ref: "#/components/schemas/AgeTDRange"
      style: form
    QualyTestingStandGroups:
      description: |
        <u>Key:</u><br>
        - `all:` All Groups.
        - `m:` All Master Groups.
        - `p:` All Pro Groups.
        - `a:` All Amateur Groups.
        - `r:` All Rookie Groups.
      explode: true
      in: query
      name: group
      required: false
      schema:
        $ref: "#/components/schemas/ExtendedGroups"
      style: form
    QualyStandPart:
      description: |
        <u>Key</u><br>
        - `q1:` Qualy 1.
        - `q2:` Qualy 2.
        - `SG:` Starting Grid.
      explode: true
      in: query
      name: part
      required: false
      schema:
        enum:
        - q1
        - q2
        - SG
        example: q1
        type: string
      style: form
    QualyTestingStandPage:
      description: page
      explode: true
      in: query
      name: page
      required: false
      schema:
        example: "1"
        type: string
      style: form
    RaceGroup:
      description: Group
      explode: true
      in: query
      name: group
      required: false
      schema:
        $ref: "#/components/schemas/OldGroups"
      style: form
    SeasonNumber:
      description: Season Number
      explode: true
      in: query
      name: season
      required: false
      schema:
        example: 98
        type: integer
      style: form
    SummarySeasonNumber:
      description: Season Number
      explode: true
      in: query
      name: season
      required: false
      schema:
        example: 98
        type: integer
      style: form
    RaceNumber:
      description: Race Number
      explode: true
      in: query
      name: race
      required: false
      schema:
        example: 2
        type: integer
      style: form
    SummaryRaceNumber:
      description: Race Number
      explode: true
      in: query
      name: race
      required: false
      schema:
        example: 2
        type: integer
      style: form
    SeasonRace:
      description: "Season,Race"
      explode: true
      in: query
      name: SR
      required: false
      schema:
        example: "87,11"
        type: string
      style: form
    Show:
      description: |
        Specifies the type of table/graph. Defaults to `table` if not specified. <br>
        <u>Key:</u>
        - `table`: headers and rows for table display mode.
        - `graph`: balance graph.
        - `sgraph`: expeditures graph.
        - `egraph`: earnings graph.
      explode: true
      in: query
      name: show
      required: false
      schema:
        enum:
        - table
        - graph
        - sgraph
        - egraph
        example: graph
        type: string
      style: form
    Display:
      description: |
        Applies when used with `graph` show option. Defaults to `allincome` if not specified. <br>
        <u>Key</u>
        - `allincome`: includes all income/expenditure concepts.
        - `raceonly`: shows only post race balances.
      explode: true
      in: query
      name: display
      required: false
      schema:
        enum:
        - allincome
        - raceonly
        example: raceonly
        type: string
      style: form
    SummaryGroup:
      description: |
        Race Summary Groups
        - <u>Key:</u>
        - `All`: All Managers.
        - `Master`: All Master division managers.
        - `Pro`: All Pro division managers.
        - `Amateur`: All Amateur division managers.
        - `Rookie`: All Rookie division managers.
        - `national`: Grouped by manager's nationality. Defaults to token's one.
        - `team`: Grouped by a specific team's members. Defaults to token's team, or 1st in the standings if token's manager is not in a team.
        - `teams`: Grouped by all teams.
        - `friends`: Grouped by token manager's friends.
        <br><br>
        - `team` and `national` require `team` and `nat` paramater to be specified, respectively, if default option is not the desired one.
      explode: true
      in: query
      name: group
      required: false
      schema:
        $ref: "#/components/schemas/SummaryGroups"
      style: form
    Nationality:
      description: 2 characters code of the manager's nation
      explode: true
      in: query
      name: nat
      required: false
      schema:
        $ref: "#/components/schemas/Nationalities"
      style: form
    Team:
      description: Team ID
      explode: true
      in: query
      name: team
      required: false
      schema:
        example: 291
        type: integer
      style: form
    Mode:
      description: Display mode for tracks endpoint
      explode: true
      in: query
      name: mode
      required: false
      schema:
        enum:
        - calendar
        - nextcalendar
        example: calendar
        type: string
      style: form
    HistorySection:
      description: History Section
      explode: true
      in: query
      name: table
      required: false
      schema:
        $ref: "#/components/schemas/Table"
      style: form
  schemas:
    LangOptions:
      enum:
      - gb
      - bg
      - de
      - es
      - ro
      - it
      - pt
      - fr
      - pl
      - ru
      - pi
      - br
      - tr
      - be
      - fi
      - lt
      - cz
      - hu
      - mk
      - nl
      - ee
      - sk
      - rs
      - al
      - gr
      - hr
      - my
      - dk
      example: gb
      type: string
    Nationalities:
      example: bg
      type: string
    Groups:
      enum:
      - Elite
      - Master - 1
      - Master - 2
      - Master - 3
      - Master - 4
      - Master - 5
      - Pro - 1
      - Pro - 2
      - Pro - 3
      - Pro - 4
      - Pro - 5
      - Pro - 6
      - Pro - 7
      - Pro - 8
      - Pro - 9
      - Pro - 10
      - Pro - 11
      - Pro - 12
      - Pro - 13
      - Pro - 14
      - Pro - 15
      - Pro - 16
      - Pro - 17
      - Pro - 18
      - Pro - 19
      - Pro - 20
      - Pro - 21
      - Pro - 22
      - Pro - 23
      - Pro - 24
      - Pro - 25
      - Amateur - 1
      - Amateur - 2
      - Amateur - 3
      - Amateur - 4
      - Amateur - 5
      - Amateur - 6
      - Amateur - 7
      - Amateur - 8
      - Amateur - 9
      - Amateur - 10
      - Amateur - 11
      - Amateur - 12
      - Amateur - 13
      - Amateur - 14
      - Amateur - 15
      - Amateur - 16
      - Amateur - 17
      - Amateur - 18
      - Amateur - 19
      - Amateur - 20
      - Amateur - 21
      - Amateur - 22
      - Amateur - 23
      - Amateur - 24
      - Amateur - 25
      - Amateur - 26
      - Amateur - 27
      - Amateur - 28
      - Amateur - 29
      - Amateur - 30
      - Amateur - 31
      - Amateur - 32
      - Amateur - 33
      - Amateur - 34
      - Amateur - 35
      - Amateur - 36
      - Amateur - 37
      - Amateur - 38
      - Amateur - 39
      - Amateur - 40
      - Amateur - 41
      - Amateur - 42
      - Amateur - 43
      - Amateur - 44
      - Amateur - 45
      - Amateur - 46
      - Amateur - 47
      - Amateur - 48
      - Amateur - 49
      - Amateur - 50
      - Amateur - 51
      - Amateur - 52
      - Amateur - 53
      - Amateur - 54
      - Amateur - 55
      - Amateur - 56
      - Amateur - 57
      - Amateur - 58
      - Amateur - 59
      - Amateur - 60
      - Amateur - 61
      - Amateur - 62
      - Amateur - 63
      - Amateur - 64
      - Amateur - 65
      - Amateur - 66
      - Amateur - 67
      - Amateur - 68
      - Amateur - 69
      - Amateur - 70
      - Amateur - 71
      - Amateur - 72
      - Amateur - 73
      - Amateur - 74
      - Amateur - 75
      - Amateur - 76
      - Amateur - 77
      - Amateur - 78
      - Amateur - 79
      - Amateur - 80
      - Rookie - 1
      - Rookie - 2
      - Rookie - 3
      - Rookie - 4
      - Rookie - 5
      - Rookie - 6
      - Rookie - 7
      - Rookie - 8
      - Rookie - 9
      - Rookie - 10
      - Rookie - 11
      - Rookie - 12
      - Rookie - 13
      - Rookie - 14
      - Rookie - 15
      - Rookie - 16
      - Rookie - 17
      - Rookie - 18
      - Rookie - 19
      - Rookie - 20
      - Rookie - 21
      - Rookie - 22
      - Rookie - 23
      - Rookie - 24
      - Rookie - 25
      - Rookie - 26
      - Rookie - 27
      - Rookie - 28
      - Rookie - 29
      - Rookie - 30
      - Rookie - 31
      - Rookie - 32
      - Rookie - 33
      - Rookie - 34
      - Rookie - 35
      - Rookie - 36
      - Rookie - 37
      - Rookie - 38
      - Rookie - 39
      - Rookie - 40
      - Rookie - 41
      - Rookie - 42
      - Rookie - 43
      - Rookie - 44
      - Rookie - 45
      - Rookie - 46
      - Rookie - 47
      - Rookie - 48
      - Rookie - 49
      - Rookie - 50
      - Rookie - 51
      - Rookie - 52
      - Rookie - 53
      - Rookie - 54
      - Rookie - 55
      - Rookie - 56
      - Rookie - 57
      - Rookie - 58
      - Rookie - 59
      - Rookie - 60
      - Rookie - 61
      - Rookie - 62
      - Rookie - 63
      - Rookie - 64
      - Rookie - 65
      - Rookie - 66
      - Rookie - 67
      - Rookie - 68
      - Rookie - 69
      - Rookie - 70
      - Rookie - 71
      - Rookie - 72
      - Rookie - 73
      - Rookie - 74
      - Rookie - 75
      - Rookie - 76
      - Rookie - 77
      - Rookie - 78
      - Rookie - 79
      - Rookie - 80
      - Rookie - 81
      - Rookie - 82
      - Rookie - 83
      - Rookie - 84
      - Rookie - 85
      - Rookie - 86
      - Rookie - 87
      - Rookie - 88
      - Rookie - 89
      - Rookie - 90
      - Rookie - 91
      - Rookie - 92
      - Rookie - 93
      - Rookie - 94
      - Rookie - 95
      - Rookie - 96
      - Rookie - 97
      - Rookie - 98
      - Rookie - 99
      - Rookie - 100
      - Rookie - 101
      - Rookie - 102
      - Rookie - 103
      - Rookie - 104
      - Rookie - 105
      - Rookie - 106
      - Rookie - 107
      - Rookie - 108
      - Rookie - 109
      - Rookie - 110
      - Rookie - 111
      - Rookie - 112
      - Rookie - 113
      - Rookie - 114
      - Rookie - 115
      - Rookie - 116
      - Rookie - 117
      - Rookie - 118
      - Rookie - 119
      - Rookie - 120
      - Rookie - 121
      - Rookie - 122
      - Rookie - 123
      - Rookie - 124
      - Rookie - 125
      - Rookie - 126
      - Rookie - 127
      - Rookie - 128
      - Rookie - 129
      - Rookie - 130
      - Rookie - 131
      - Rookie - 132
      - Rookie - 133
      - Rookie - 134
      - Rookie - 135
      - Rookie - 136
      - Rookie - 137
      - Rookie - 138
      - Rookie - 139
      - Rookie - 140
      - Rookie - 141
      - Rookie - 142
      - Rookie - 143
      - Rookie - 144
      - Rookie - 145
      - Rookie - 146
      - Rookie - 147
      - Rookie - 148
      - Rookie - 149
      - Rookie - 150
      example: Master - 1
      type: string
    OldGroups:
      enum:
      - Elite
      - Master - 1
      - Master - 2
      - Master - 3
      - Master - 4
      - Master - 5
      - Pro - 1
      - Pro - 2
      - Pro - 3
      - Pro - 4
      - Pro - 5
      - Pro - 6
      - Pro - 7
      - Pro - 8
      - Pro - 9
      - Pro - 10
      - Pro - 11
      - Pro - 12
      - Pro - 13
      - Pro - 14
      - Pro - 15
      - Pro - 16
      - Pro - 17
      - Pro - 18
      - Pro - 19
      - Pro - 20
      - Pro - 21
      - Pro - 22
      - Pro - 23
      - Pro - 24
      - Pro - 25
      - Amateur - 1
      - Amateur - 2
      - Amateur - 3
      - Amateur - 4
      - Amateur - 5
      - Amateur - 6
      - Amateur - 7
      - Amateur - 8
      - Amateur - 9
      - Amateur - 10
      - Amateur - 11
      - Amateur - 12
      - Amateur - 13
      - Amateur - 14
      - Amateur - 15
      - Amateur - 16
      - Amateur - 17
      - Amateur - 18
      - Amateur - 19
      - Amateur - 20
      - Amateur - 21
      - Amateur - 22
      - Amateur - 23
      - Amateur - 24
      - Amateur - 25
      - Amateur - 26
      - Amateur - 27
      - Amateur - 28
      - Amateur - 29
      - Amateur - 30
      - Amateur - 31
      - Amateur - 32
      - Amateur - 33
      - Amateur - 34
      - Amateur - 35
      - Amateur - 36
      - Amateur - 37
      - Amateur - 38
      - Amateur - 39
      - Amateur - 40
      - Amateur - 41
      - Amateur - 42
      - Amateur - 43
      - Amateur - 44
      - Amateur - 45
      - Amateur - 46
      - Amateur - 47
      - Amateur - 48
      - Amateur - 49
      - Amateur - 50
      - Amateur - 51
      - Amateur - 52
      - Amateur - 53
      - Amateur - 54
      - Amateur - 55
      - Amateur - 56
      - Amateur - 57
      - Amateur - 58
      - Amateur - 59
      - Amateur - 60
      - Amateur - 61
      - Amateur - 62
      - Amateur - 63
      - Amateur - 64
      - Amateur - 65
      - Amateur - 66
      - Amateur - 67
      - Amateur - 68
      - Amateur - 69
      - Amateur - 70
      - Amateur - 71
      - Amateur - 72
      - Amateur - 73
      - Amateur - 74
      - Amateur - 75
      - Amateur - 76
      - Amateur - 77
      - Amateur - 78
      - Amateur - 79
      - Amateur - 80
      - Amateur - 81
      - Amateur - 82
      - Amateur - 83
      - Amateur - 84
      - Amateur - 85
      - Amateur - 86
      - Amateur - 87
      - Amateur - 88
      - Amateur - 89
      - Amateur - 90
      - Amateur - 91
      - Amateur - 92
      - Amateur - 93
      - Amateur - 94
      - Amateur - 95
      - Amateur - 96
      - Amateur - 97
      - Amateur - 98
      - Amateur - 99
      - Amateur - 100
      - Amateur - 101
      - Amateur - 101
      - Amateur - 102
      - Amateur - 103
      - Amateur - 104
      - Amateur - 105
      - Amateur - 106
      - Amateur - 107
      - Amateur - 108
      - Amateur - 109
      - Amateur - 110
      - Amateur - 111
      - Amateur - 112
      - Amateur - 113
      - Amateur - 114
      - Amateur - 115
      - Amateur - 116
      - Amateur - 117
      - Amateur - 118
      - Amateur - 119
      - Amateur - 120
      - Amateur - 121
      - Amateur - 122
      - Amateur - 123
      - Amateur - 124
      - Amateur - 125
      - Rookie - 1
      - Rookie - 2
      - Rookie - 3
      - Rookie - 4
      - Rookie - 5
      - Rookie - 6
      - Rookie - 7
      - Rookie - 8
      - Rookie - 9
      - Rookie - 10
      - Rookie - 11
      - Rookie - 12
      - Rookie - 13
      - Rookie - 14
      - Rookie - 15
      - Rookie - 16
      - Rookie - 17
      - Rookie - 18
      - Rookie - 19
      - Rookie - 20
      - Rookie - 21
      - Rookie - 22
      - Rookie - 23
      - Rookie - 24
      - Rookie - 25
      - Rookie - 26
      - Rookie - 27
      - Rookie - 28
      - Rookie - 29
      - Rookie - 30
      - Rookie - 31
      - Rookie - 32
      - Rookie - 33
      - Rookie - 34
      - Rookie - 35
      - Rookie - 36
      - Rookie - 37
      - Rookie - 38
      - Rookie - 39
      - Rookie - 40
      - Rookie - 41
      - Rookie - 42
      - Rookie - 43
      - Rookie - 44
      - Rookie - 45
      - Rookie - 46
      - Rookie - 47
      - Rookie - 48
      - Rookie - 49
      - Rookie - 50
      - Rookie - 51
      - Rookie - 52
      - Rookie - 53
      - Rookie - 54
      - Rookie - 55
      - Rookie - 56
      - Rookie - 57
      - Rookie - 58
      - Rookie - 59
      - Rookie - 60
      - Rookie - 61
      - Rookie - 62
      - Rookie - 63
      - Rookie - 64
      - Rookie - 65
      - Rookie - 66
      - Rookie - 67
      - Rookie - 68
      - Rookie - 69
      - Rookie - 70
      - Rookie - 71
      - Rookie - 72
      - Rookie - 73
      - Rookie - 74
      - Rookie - 75
      - Rookie - 76
      - Rookie - 77
      - Rookie - 78
      - Rookie - 79
      - Rookie - 80
      - Rookie - 81
      - Rookie - 82
      - Rookie - 83
      - Rookie - 84
      - Rookie - 85
      - Rookie - 86
      - Rookie - 87
      - Rookie - 88
      - Rookie - 89
      - Rookie - 90
      - Rookie - 91
      - Rookie - 92
      - Rookie - 93
      - Rookie - 94
      - Rookie - 95
      - Rookie - 96
      - Rookie - 97
      - Rookie - 98
      - Rookie - 99
      - Rookie - 100
      - Rookie - 101
      - Rookie - 102
      - Rookie - 103
      - Rookie - 104
      - Rookie - 105
      - Rookie - 106
      - Rookie - 107
      - Rookie - 108
      - Rookie - 109
      - Rookie - 110
      - Rookie - 111
      - Rookie - 112
      - Rookie - 113
      - Rookie - 114
      - Rookie - 115
      - Rookie - 116
      - Rookie - 117
      - Rookie - 118
      - Rookie - 119
      - Rookie - 120
      - Rookie - 121
      - Rookie - 122
      - Rookie - 123
      - Rookie - 124
      - Rookie - 125
      - Rookie - 126
      - Rookie - 127
      - Rookie - 128
      - Rookie - 129
      - Rookie - 130
      - Rookie - 131
      - Rookie - 132
      - Rookie - 133
      - Rookie - 134
      - Rookie - 135
      - Rookie - 136
      - Rookie - 137
      - Rookie - 138
      - Rookie - 139
      - Rookie - 140
      - Rookie - 141
      - Rookie - 142
      - Rookie - 143
      - Rookie - 144
      - Rookie - 145
      - Rookie - 146
      - Rookie - 147
      - Rookie - 148
      - Rookie - 149
      - Rookie - 150
      - Rookie - 151
      - Rookie - 152
      - Rookie - 153
      - Rookie - 154
      - Rookie - 155
      - Rookie - 156
      - Rookie - 157
      - Rookie - 158
      - Rookie - 159
      - Rookie - 160
      - Rookie - 161
      - Rookie - 162
      - Rookie - 163
      - Rookie - 164
      - Rookie - 165
      - Rookie - 166
      - Rookie - 167
      - Rookie - 168
      - Rookie - 169
      - Rookie - 170
      - Rookie - 171
      - Rookie - 172
      - Rookie - 173
      - Rookie - 174
      - Rookie - 175
      - Rookie - 176
      - Rookie - 177
      - Rookie - 178
      - Rookie - 179
      - Rookie - 180
      - Rookie - 181
      - Rookie - 182
      - Rookie - 183
      - Rookie - 184
      - Rookie - 185
      - Rookie - 186
      - Rookie - 187
      - Rookie - 188
      - Rookie - 189
      - Rookie - 190
      - Rookie - 191
      - Rookie - 192
      - Rookie - 193
      - Rookie - 194
      - Rookie - 195
      - Rookie - 196
      - Rookie - 197
      - Rookie - 198
      - Rookie - 199
      - Rookie - 200
      - Rookie - 201
      - Rookie - 202
      - Rookie - 203
      - Rookie - 204
      - Rookie - 205
      - Rookie - 206
      - Rookie - 207
      - Rookie - 208
      - Rookie - 209
      - Rookie - 210
      - Rookie - 211
      - Rookie - 212
      - Rookie - 213
      - Rookie - 214
      - Rookie - 215
      - Rookie - 216
      - Rookie - 217
      - Rookie - 218
      - Rookie - 219
      - Rookie - 220
      - Rookie - 221
      - Rookie - 222
      - Rookie - 223
      - Rookie - 224
      - Rookie - 225
      - Rookie - 226
      - Rookie - 227
      - Rookie - 228
      - Rookie - 229
      - Rookie - 230
      - Rookie - 231
      - Rookie - 232
      - Rookie - 233
      - Rookie - 234
      - Rookie - 235
      - Rookie - 236
      - Rookie - 237
      - Rookie - 238
      - Rookie - 239
      - Rookie - 240
      - Rookie - 241
      - Rookie - 242
      - Rookie - 243
      - Rookie - 244
      - Rookie - 245
      - Rookie - 246
      - Rookie - 247
      - Rookie - 248
      - Rookie - 249
      - Rookie - 250
      - Rookie - 251
      - Rookie - 252
      - Rookie - 253
      - Rookie - 254
      - Rookie - 255
      - Rookie - 256
      - Rookie - 257
      - Rookie - 258
      - Rookie - 259
      - Rookie - 260
      - Rookie - 261
      - Rookie - 262
      - Rookie - 263
      - Rookie - 264
      - Rookie - 265
      - Rookie - 266
      - Rookie - 267
      - Rookie - 268
      - Rookie - 269
      - Rookie - 270
      - Rookie - 271
      - Rookie - 272
      - Rookie - 273
      - Rookie - 274
      - Rookie - 275
      - Rookie - 276
      - Rookie - 277
      - Rookie - 278
      - Rookie - 279
      - Rookie - 280
      - Rookie - 281
      - Rookie - 282
      - Rookie - 283
      - Rookie - 284
      - Rookie - 285
      - Rookie - 286
      - Rookie - 287
      - Rookie - 288
      - Rookie - 289
      - Rookie - 290
      - Rookie - 291
      - Rookie - 292
      - Rookie - 293
      - Rookie - 294
      - Rookie - 295
      - Rookie - 296
      - Rookie - 297
      - Rookie - 298
      - Rookie - 299
      - Rookie - 300
      - Rookie - 301
      - Rookie - 302
      - Rookie - 303
      - Rookie - 304
      - Rookie - 305
      - Rookie - 306
      - Rookie - 307
      - Rookie - 308
      - Rookie - 309
      - Rookie - 310
      - Rookie - 311
      - Rookie - 312
      - Rookie - 313
      - Rookie - 314
      - Rookie - 315
      - Rookie - 316
      - Rookie - 317
      - Rookie - 318
      - Rookie - 319
      - Rookie - 320
      - Rookie - 321
      - Rookie - 322
      - Rookie - 323
      - Rookie - 324
      - Rookie - 325
      - Rookie - 326
      - Rookie - 327
      - Rookie - 328
      - Rookie - 329
      - Rookie - 330
      - Rookie - 331
      - Rookie - 332
      - Rookie - 333
      - Rookie - 334
      - Rookie - 335
      - Rookie - 336
      - Rookie - 337
      - Rookie - 338
      - Rookie - 339
      - Rookie - 340
      - Rookie - 341
      - Rookie - 342
      - Rookie - 343
      - Rookie - 344
      - Rookie - 345
      - Rookie - 346
      - Rookie - 347
      - Rookie - 348
      - Rookie - 349
      - Rookie - 350
      - Rookie - 351
      - Rookie - 352
      - Rookie - 353
      - Rookie - 354
      - Rookie - 355
      - Rookie - 356
      - Rookie - 357
      - Rookie - 358
      - Rookie - 359
      - Rookie - 360
      - Rookie - 361
      - Rookie - 362
      - Rookie - 363
      - Rookie - 364
      - Rookie - 365
      - Rookie - 366
      - Rookie - 367
      - Rookie - 368
      - Rookie - 369
      - Rookie - 370
      - Rookie - 371
      - Rookie - 372
      - Rookie - 373
      - Rookie - 374
      - Rookie - 375
      - Rookie - 376
      - Rookie - 377
      - Rookie - 378
      - Rookie - 379
      - Rookie - 380
      - Rookie - 381
      - Rookie - 382
      - Rookie - 383
      - Rookie - 384
      - Rookie - 385
      - Rookie - 386
      - Rookie - 387
      - Rookie - 388
      - Rookie - 389
      - Rookie - 390
      - Rookie - 391
      - Rookie - 392
      - Rookie - 393
      - Rookie - 394
      - Rookie - 395
      - Rookie - 396
      - Rookie - 397
      - Rookie - 398
      - Rookie - 399
      - Rookie - 400
      - Rookie - 401
      - Rookie - 402
      - Rookie - 403
      - Rookie - 404
      - Rookie - 405
      - Rookie - 406
      - Rookie - 407
      - Rookie - 408
      - Rookie - 409
      - Rookie - 410
      - Rookie - 411
      - Rookie - 412
      - Rookie - 413
      - Rookie - 414
      - Rookie - 415
      - Rookie - 416
      example: Amateur - 12
      type: string
    SummaryGroups:
      allOf:
      - enum:
        - All
        - Master
        - Pro
        - Amateur
        - Rookie
        - national
        - team
        - teams
        - friends
        type: string
      - $ref: "#/components/schemas/OldGroups"
      example: All
      type: string
    GroupsArray:
      items:
        $ref: "#/components/schemas/GroupsArray_inner"
      type: array
    ExtendedGroups:
      allOf:
      - enum:
        - all
        - m
        - p
        - a
        - r
        type: string
      - $ref: "#/components/schemas/Groups"
      description: |
        <u>Key:</u><br>
        - `all:` All Groups.
        - `m:` All Master Groups.
        - `p:` All Pro Groups.
        - `a:` All Amateur Groups.
        - `r:` All Rookie Groups.
      example: all
      type: string
    StaffGroups:
      allOf:
      - enum:
        - All groups
        type: string
      - $ref: "#/components/schemas/Groups"
      description: |
        Choose all or an specific group.
      example: Elite
      type: string
    SortDriver:
      enum:
      - Overall
      - Con
      - Tal
      - Aggresiven
      - Exp
      - TechInsight
      - Stamina
      - Charisma
      - Motivation
      - Reputation
      - Weight
      - Age
      - Sal
      - SignFee
      example: Overall
      type: string
    SortTD:
      enum:
      - Overall
      - Leadership
      - Mechanics
      - Electronics
      - Aerodynamics
      - Exp
      - PitStop
      - Motivation
      - Age
      - Salary
      - SignFee
      example: Overall
      type: string
    AgeDriRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 17-20`<br> `'1': 21-24`<br> `'2': 25-28`<br> `'3': 29-32`<br> `'4': 33-36`<br> `'5': 37+`<br>
      enum:
      - ""
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      example: "1"
      type: string
    AgeTDRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 35-`<br> `'1': 36-49`<br> `'2': 50-64`<br> `'3': 65-74`<br> `'4': 75-79`<br> `'5': 80+`<br>
      enum:
      - ""
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      example: "1"
      type: string
    ExpRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': 0-49`<br> `'1': 50-99`<br> `'2': 100-149`<br> `'3': 150-199`<br> `'4': 200-250`<br> `'5': 250-300`<br> `'6': 350+`<br>
      enum:
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      example: "1"
      type: string
    MinSalRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': '1-0.5M'`<br> `'1': '0.5M-1M'`<br> `'2': '1M-1.5M'`<br> `'3': '1.5M-2M'`<br> `'4': '2M-2.5M'`<br> `'5': '2.5M-3M'`<br> `'6': '3M-3.5M'`<br> `'7': '3.5M-4M'`<br> `'8': '4M-4.5M'`<br> `'9': '4.5M-5M'`<br> `'10': '5M-5.5M'`<br> `'11': '5.5M-6M'`<br> `'12': '6M+'`<br>
      enum:
      - ""
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      - "9"
      - "10"
      - "11"
      - "12"
      example: "1"
      type: string
    OffRange:
      description: |
        <u>Key</u><br> `'': Any`<br> `'0': '0'`<br> `'1': '1'`<br> `'2': '2'`<br> `'3': '3'`<br> `'4': '4+'`<br>
      enum:
      - ""
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      example: "1"
      type: string
    SkillRange:
      description: |
[...]
